{% extends 'base.html.twig' %}

{% block title %}Bureau index{% endblock %}

{% block body %}
<div class="container d-block mt-5">
    <div class="row">
        <h1>Bureaux</h1>
        <div class="d-inline text-end mb-1">
            <a href="{{ path('app_bureau_new') }}" class="btn btn-success">Create New</a>
        </div>
    </div>
    <div class="row table-wrapper">
        <table class="table table-striped table-hover table-bordered m-0">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for bureau in bureaus %}
                <tr>
                    <td>{{ bureau.id }}</td>
                    <td>{{ bureau.name }}</td>
                    <td>{{ bureau.description }}</td>
                    <td>
                        <a href="{{ path('app_bureau_show', {'id': bureau.id}) }}">show</a>
                        <a href="{{ path('app_bureau_edit', {'id': bureau.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun element trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
