{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="container d-block mt-5">
        <div class="row">
            <h1>Evennement</h1>
            <div class="d-inline text-end mb-1">
                <a href="{{ path('app_event_new') }}" class="btn btn-success">Create New</a>
            </div>
        </div>
        <div class="row table-wrapper">

            <table class="table table-striped table-hover table-bordered m-0">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
                        <th>Capacité</th>
                        <th>InterestCount</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ event.capacity }}</td>
                        <td>{{ event.interestCount }}</td>
                        <td>
                            <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                            <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun element trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>

{% endblock %}
