{# templates/acceuille.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {# Sidebar (exemple) #}
        <div class="sidebar">
            <h3>Navigation</h3>
            <ul>
                <li><a href="{{ path('app_bureau_new') }}">Ajouter un bureau</a></li>
                <li><a href="#">Autres liens</a></li>
            </ul>
        </div>

        {# Formulaire principal #}
        <div class="event-list-section">
            <h2>Ajouter un bureau</h2>

            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name, "Nom du bureau") }}
                    {{ form_widget(form.name) }}
                   
                </div>

                <div class="form-group">
                    {{ form_label(form.description, "Description") }}
                    {{ form_widget(form.description) }}
               
                </div>

                <div class="form-group">
                    {{ form_label(form.logoFile, "Logo (JPEG/PNG)") }}
                    {{ form_widget(form.logoFile) }}
                  
                </div>

                <button type="submit" class="btn btn-success">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}